<h2><%= @task.title %></h2>
<%= link_to 'Edit this task', edit_task_path %>
<%= link_to 'Delete task', task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<p><%= @task.details %></p>
<% if @task.completed? %>
  <p><i class="fa-regular fa-square-check"></i> This task is complete!</p>
<% else %>
  <p><i class="fa-regular fa-square"></i> This task has not yet been completed</p>
<% end %>
<%= link_to 'Back to list', tasks_path %>
